a{
    all: unset;
    user-select: none;

    padding: 6px;
    transition: all 0.1s ease-in-out;
}

a:hover{
    border-radius: 4px;
    cursor: pointer;
    background-color: var(--secondary-color);
    color: var(--text-color-inverted);
}
