.page{
    display: flex;
    flex-direction: column;
    align-items: center;
}
h2{
    text-align: center;
    margin-bottom: 16px;
}

a{
    all: unset;
    user-select: none;
    
    max-width: 300px;
    padding: 16px;

    font-size: 20px;

    transition: all 0.1s ease-in-out;
}

a:hover{
    border-radius: 4px;
    cursor: pointer;
    background-color: var(--secondary-color);
    color: var(--text-color-inverted);
}
