:host{
    display: flex;
    justify-content: space-evenly;
    padding: 16px;
    background-color: var(--main-color);
    color: var(--text-color);
}

a{
    all: unset;
    user-select: none;

    padding: 6px;
    border-bottom: 2px solid var(--t-color);
    transition: all 0.1s ease-in-out;
}

a.selected{
    border-bottom: 2px solid var(--tertiary-color);
}

a:hover{
    border-bottom: 2px solid var(--t-color);
    border-radius: 4px;
    cursor: pointer;
    background-color: var(--secondary-color);
    color: var(--text-color-inverted);
}
